.box{
    background-color: #32383e;
    border: 1px solid rgba(0,0,0,.6);
    cursor: pointer;
    max-width: 24px;
    max-height: 24px;
    margin: 0 0 0 0;
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    left: 98.6%;
    top: 17.72%;
}

.overlay{
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    top: 0%;
    margin: 0 0 0 0;
    opacity:0.5;
    background-color: #32383e;
    z-index: 4;
}

.menuBox{
    position: fixed;
    min-height: 100vh;
    min-width: 250px;
    background-color:black;
    color: white;
    margin: 0 0 0 0;
    top: 0%;
    left: 120%;
    z-index: 5;
}

.menuBox ul {
    list-style: none;
    padding-inline-start: 15px;
}

.menuBox ul li{
    background-color: #32383e;
    border: 1px solid #fff;
    color: #fff;
    margin-bottom: 5px;
    max-width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100;
}