<div>
    <div class="heading">
        {{film.title | uppercase }}
    </div>
    <ul>
        <li>
            {{film.characters}}
        </li>
        <li>
            {{film.director}}
        </li>
        <li>
            {{film.episode_id}}
        </li>
        <li>
            {{film.opening_crawl}}
        </li>
        <li>
            {{film.planets}}
        </li>
        <li>
            {{film.producer}}
        </li>
        <li>
            {{film.release_date}}
        </li>
        <li>
            {{film.species}}
        </li>
        <li>
            {{film.starships}}
        </li>
        <li>
            {{film.vehicles}}
        </li>
    </ul>
</div>