<div>
    <div class="heading">
        {{person.name | uppercase }}
    </div>
    <ul>
        <li>
            {{person.birth_year}}
        </li>
        <li>
            {{person.eye_color}}
        </li>
        <li>
            {{person.films}}
        </li>
        <li>
            {{person.gender}}
        </li>
        <li>
            {{person.hair_color}}
        </li>
        <li>
            {{person.height}}
        </li>
        <li>
            {{person.homeworld}}
        </li>
        <li>
            {{person.mass}}
        </li>
        <li>
            {{person.skin_color}}
        </li>
        <li>
            {{person.species}}
        </li>
        <li>
            {{person.starships}}
        </li>
        <li>
            {{person.vehicles}}
        </li>
    </ul>
</div>
