<div>
    <div class="heading">
        {{planet.name | uppercase }}
    </div>
    <ul>
        <li>
            {{planet.climate}}
        </li>
        <li>
            {{planet.diameter}}
        </li>
        <li>
            {{planet.films}}
        </li>
        <li>
            {{planet.gravity}}
        </li>
        <li>
            {{planet.orbital_period}}
        </li>
        <li>
            {{planet.population}}
        </li>
        <li>
            {{planet.residents}}
        </li>
        <li>
            {{planet.rotation_period}}
        </li>
        <li>
            {{planet.surface_water}}
        </li>
        <li>
            {{planet.terrain}}
        </li>
    </ul>
</div>
