<div>
    <div class="heading">
        {{species.name | uppercase }}
    </div>
    <ul>
        <li>
            {{species.average_height}}
        </li>
        <li>
            {{species.average_lifespan}}
        </li>
        <li>
            {{species.classification}}
        </li>
        <li>
            {{species.designation}}
        </li>
        <li>
            {{species.eye_colors}}
        </li>
        <li>
            {{species.hair_colors}}
        </li>
        <li>
            {{species.homeworld}}
        </li>
        <li>
            {{species.language}}
        </li>
        <li>
            {{species.people}}
        </li>
        <li>
            {{species.films}}
        </li>
        <li>
            {{species.skin_colors}}
        </li>
    </ul>
</div>