 <div class="box" *ngIf="person">
    <p class="name" mat-raised-button (click)="openDialog()">{{person.name}}</p>
</div> 
<div class="box" *ngIf="planet">
    <p class="name" mat-raised-button (click)="openDialog()">{{planet.name}}</p>
</div> 
<div class="box" *ngIf="films">
    <p class="name" mat-raised-button (click)="openDialog()">{{films.title}}</p>
</div> 
<div class="box" *ngIf="species">
    <p class="name" mat-raised-button (click)="openDialog()">{{species.name}}</p>
</div> 
<div class="box" *ngIf="starships">
    <p class="name" mat-raised-button (click)="openDialog()">{{starships.name}}</p>
</div> 
<div class="box" *ngIf="vehicles">
    <p class="name" mat-raised-button (click)="openDialog()">{{vehicles.name}}</p>
</div> 